{% extends "base.html" %}

{% block title %}Strona główna - YouTube Statistics{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('main.static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 text-center">
        <h1 class="display-4 mb-4">Kanał Zero - Podsumowanie</h1>
    </div>
</div>


<div class="row justify-content-center">
    <div class="col-md-4 mb-4">
        <a href="{{ url_for('playlists.playlists_index') }}" class="card h-100 text-decoration-none card-link-tile">
            <div class="card-body text-center">
                <h3 class="card-title">📊 Filmy w Playlistach</h3>
                <p class="card-text">
                    Zobacz statystyki wyświetleń dla poszczególnych filmów w każdej playliście.
                </p>
            </div>
        </a>
    </div>
    <div class="col-md-4 mb-4">
        <a href="{{ url_for('playlists_monthly.playlists_monthly_index') }}" class="card h-100 text-decoration-none card-link-tile">
            <div class="card-body text-center">
                <h3 class="card-title">📊 Playlisty Miesięczne</h3>
                <p class="card-text">
                    Przeglądaj ilości wyświetleń dla poszczególnych playlist uszeregowanych po miesiącach.
                </p>
            </div>
        </a>
    </div>
    <div class="col-md-4 mb-4">
        <a href="{{ url_for('top_playlists.top_playlists_index') }}" class="card h-100 text-decoration-none card-link-tile">
            <div class="card-body text-center">
                <h3 class="card-title">🏆 Ranking Playlist</h3>
                <p class="card-text">
                    Zobacz ranking najpopularniejszych playlist na podstawie 
                    łącznej liczby wyświetleń i polubień.
                </p>
            </div>
        </a>
    </div>
</div>
{% endblock %} 



