{% extends "base.html" %}

{% block title %}Strona główna - YouTube Statistics{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('main.static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 text-center">
        <h1 class="display-4 mb-4">YouTube Channel Statistics</h1>
    </div>
</div>


<div class="row justify-content-center">
    <div class="col-md-4 mb-4">
        <a href="{{ url_for('playlists.playlists_index') }}" class="card h-100 text-decoration-none card-link-tile">
            <div class="card-body text-center">
                <h3 class="card-title">📈 Wykresy Playlist</h3>
                <p class="card-text">
                    Przeglądaj wykresy dla każdej playlisty. Zobacz statystyki wyświetleń 
                    i polubień dla poszczególnych filmów w każdej playliście.
                </p>
            </div>
        </a>
    </div>
    <div class="col-md-4 mb-4">
        <a href="{{ url_for('top_playlists.top_playlists_index') }}" class="card h-100 text-decoration-none card-link-tile">
            <div class="card-body text-center">
                <h3 class="card-title">🏆 Top Playlisty</h3>
                <p class="card-text">
                    Zobacz ranking najpopularniejszych playlist na podstawie 
                    łącznej liczby wyświetleń i polubień.
                </p>
            </div>
        </a>
    </div>
</div>
{% endblock %} 



